$react-rater-link: #ccc !default;
$react-rater-hover: #fd9 !default;
$react-rater-active: #fc6 !default;

@import 'react-rater/lib/react-rater.scss';

.movieDetails {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 40px;
  padding: 20px 10px;
  background-color: #FFFFFF;

  .details {
    border: 2px solid;
    border-radius: 5px;
    border-color: #cccccc;
    padding: 0px 10px;

    .title {
      font-size: 22px;
      font-weight: 700;
    }
    .releaseDate {
      font-size: 1rem;
      font-weight: 600;
    }
    .overview {

    }
  }

  .favorite-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  .rate-wrapper {
    margin: 10px 0;
    
    .rate-title {
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 0;
    }
    .react-rater {
      font-size: 2rem;
    }
  }

}

@media screen and (max-width: 650px) {
  .movieDetails {
    margin: 10px 5px;
  }
}