.nav-bar {
  display: flex;
  flex: 1 1 auto;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1f1d1d;
  height: 40px;

  .title-wrapper {
    text-decoration: none;
  
    .title {
      font-size: 30px;
      color: #db4242;
    }
  }

  .login-button {
    position: absolute;
    right: 10px;
    background-color: #db4242;
    padding: 2px 5px;
    border-radius: 5px;
    color: #FFFFFF;
    text-decoration: none;
  }

  .nav-bar-link-wrapper {
    position: absolute;
    right: 10px;
    .nav-bar-link {
      color: #FFFFFF;
      margin: 0 10px;
      cursor: pointer;
      text-decoration: none;
    }
  }

  .nav-bar-icon {
    display: none;
    position: absolute;
    right: 10px;
    cursor: pointer;
  }

  .nav-bar-link-dropdown {
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 45px;
    width: 120px;
    height: 100px;
    background-color: #FFFFFF;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    padding: 5px 10px;
    border-radius: 5px 0 5px 5px;
    border: 1px solid;

    .nav-bar-link {
      color: #1f1d1d;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 10px;
      cursor: pointer;
      text-decoration: none;
    }
  }

  @media screen and (max-width: 600px) {
    .nav-bar-link-wrapper {
      display: none;
    }
    .nav-bar-icon {
      display: block;
    }
  }
}
