.NavBar {
  display: flex;
  flex: 1 1 auto;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1f1d1d;

  .Title {
    font-size: 30px;
    color: #db4242;
  }

  .LoginButton {
    position: absolute;
    right: 10px;
    background-color: #db4242;
    padding: 2px 5px;
    border-radius: 5px;
    color: #FFFFFF;
    text-decoration: none;
  }
}
